<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.menus{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
}

.banner-container{
    height: 100vh;
    background-image: url("asset/image/background.jpg"),
                    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;


}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-common {
    padding: 12px 20px;
    border: none;
}

.btn-common-2 {
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
}

.title-common {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.text-red-common {
    color: red;
}

.description-commmon {
    padding: 10px;
    font-size: 20px;
    color: white;
}

/* header styles */
header {
    margin-bottom: 100px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
}

.banner-container {
    height: 100vh;
    background-image: url("asset/image/background.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.description {
    color: white;
    padding: 10px;
    /* tricks for center some text */
    width: 50%;
    margin: auto;
}


.bg-primary {
    background: red;
    color: white;
}


/* services section styles */
#services {
    height: 100vh;
    background-image: url("asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: overlay;
    color: white;
    margin-bottom: 100px;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-text {
    width: 50%;
    margin: 10px;
}

.service-photo {
    width: 50%;
}


.employee {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.person img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*  important tricks for vertical line enlargement by using font-size(|) */
.y-line {
    color: red;
    font-size: 100px;
}

.skill-container {
    color: white;
}

.skill-box {
    background: white;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
}

.sb-2 {
    padding: 20px 30px;
    text-align: center;
}

.skill-box img {
    width: 70%;
}

.skill-box p {
    color: black;
    font-size: large;
    font-weight: 800;
}

.skill-container-top {
    display: flex;
    align-items: center;
}

.skill-container-bottom {
    display: flex;
    align-items: center;
}


/* appointement section styles */
#appointment {
    margin-bottom: 100px;
}

.appointment-container {
    background-color: rgb(245, 44, 44);
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.call-portion {
    display: flex;
    align-items: center;
    gap: 10px;
}

.call-icon img {
    width: 100px;
}

.call-number {
    color: white;
}

.call-number h1 {
    font-size: 35px;
}

.message-portion {
    display: flex;
    align-items: center;
}

.message-description {
    color: white;
    font-size: 16px;
}

/* blog section styles */
#blog {
    margin-bottom: 100px;
}

.blog-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.blog-title {
    font-size: 45px;
    margin-bottom: 10px;
}

.blog-para {
    font-size: 20px;
    margin-bottom: 40px;
}

.blog-box-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blog-box {
    width: 350px;
    border: 1px solid wheat;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(200, 197, 197);
}

.blog-box img {
    width: 350px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
}

.blog-box h2 {
    margin: 10px;
}

.blog-box p {
    margin: 10px;
}

/* footer related styles */


.footer-container {
    background-image: url("asset/image/footer-bg.png"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 60vh;
    color: rgb(234, 227, 227);
    padding: 90px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* important ticks for horizontal ruler/line styling using border property */
.x-line{
    border: 1.5px solid red;
    margin-top: 50px;
    margin-bottom: 25px;
}

.footer-bottom{
    text-align: center;
}
>>>>>>> d9f0be295839911aa257979c26db7a35ecda0657
